.nav-tabs .nav-link {
  color: #555;
  font-weight: 500;
  transition: 0.3s;
  border-radius: 8px 8px 0 0;
}

.nav-tabs .nav-link:hover {
  background-color: #f0f0f0;
  color: #000;
}

.nav-tabs .nav-link.active {
  background-color: #007bff;
  color: #fff !important;
  border: none;
}
