<!-- Catálogo de Snacks -->
<h1 
  class="page-title" 
>
  🍿 Catálogo de Snacks 🍿
</h1>

<div 
  class="snack-grid" 
>
    
<div *ngFor="let snack of snacks" class="snack-card" > 
    <!-- Imagen -->
    <div class="snack-img-container">
      <img [src]="snack.image" alt="{{ snack.name }}" class="snack-img" />
    </div>

    <!-- Nombre y precio -->
    <h3 class="snack-name">{{ snack.name }}</h3>
    <p class="snack-price">${{ snack.price | number }}</p>

    <!-- Botón agregar -->
    <button (click)="addToCart(snack)" class="add-btn">
      + Agregar
    </button>
  </div>
</div>

<!-- Sidebar del carrito -->
<app-cart-sidebar 
  [ngClass]="{'open-sidebar': showCart}"
  (close)="toggleCart()"
></app-cart-sidebar>

<div 
  [ngClass]="{'show-overlay': showCart}" 
  (click)="toggleCart()" 
  class="cart-overlay"
></div>


<!-- Botón flotante para abrir el carrito -->
<button class="cart-button round-btn-base" (click)="toggleCart()">
  🛒
</button>

