<div class="d-flex" id="wrapper">
    
    <div class="bg-dark border-right" id="sidebar-wrapper">
        <div class="sidebar-heading text-warning p-3 h5">🛠️ Panel de Administración</div>
        <div class="list-group list-group-flush">
            <a routerLink="usuarios" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">Gestión de Usuarios</a>
            
            <a routerLink="peliculas" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">Catálogo de Películas</a>
            
            <a routerLink="snacks" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">Catálogo de Snacks</a>
            
            <a routerLink="salas" routerLinkActive="active" class="list-group-item list-group-item-action bg-dark text-white">Salas de Cine</a>
            
            <a routerLink="/home" class="list-group-item list-group-item-action bg-dark text-info mt-4">Volver al Home</a>
            
            <a (click)="logout()" class="list-group-item list-group-item-action bg-dark text-danger">Cerrar Sesión</a>
        </div>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid p-4">
             <h2>⚙️ Bienvenido, Administrador</h2>
             <p class="lead">Seleccione una opción del menú lateral para gestionar el sistema.</p>
            
            <router-outlet></router-outlet> 
        </div>
    </div>
    </div>
