/* === Contenedor Principal === */
.cart-sidebar-container-styles {
  width: 100%; 
  height: 100%;

  /* Estilos visuales */
  background-color: white; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); 

  /* Layout */
  display: flex;
  flex-direction: column;

  /* Propiedad para el scroll */
  overflow-y: auto;
}

/* === Título === */
.cart-header {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
    padding: 0 1rem; 
}

.cart-title {
  font-size: 1.25rem;
  font-weight: 700;
}

/* === Lista de Items (Contenedor que maneja el padding) === */
.cart-items-list {
    flex-grow: 1; 
    margin-bottom: 1rem; 
    padding: 0 1rem;
}

/* === ESTILO DE CADA ÍTEM === */
.cart-item {
    display: block; 
    padding: 10px 0;
    border-bottom: 1px solid #eee; 
    margin-bottom: 0;
    padding-right: 5px; 
}

/* === Contenedor de Imagen y Texto (Fila Superior) === */
.item-details-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 10px; 
    /* flex-grow: 0; */
    /* flex-shrink: 1; */
}

/* === Wrapper de la Imagen === */
.item-image-wrapper {
    width: 40px; 
    min-width: 40px; 
    max-width: 40px; 

    height: 40px;
    min-height: 40px;
    max-height: 40px;
    
    border-radius: 4px;
    overflow: hidden; 
}

.item-image {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}

/* === Estilos del Texto (Nombre y SKU) === */
.item-info {
    display: flex;
    flex-direction: column;
    font-size: 0.95rem; 
    flex-grow: 1;
}

.item-name {
    font-weight: 600;
    margin-bottom: 2px;
    word-break: break-word;
}

.item-sku {
    font-size: 0.8rem;
    color: #666;
}

/* === Contenedor de Precio/Cantidad (Fila Inferior) === */
.item-quantity-price {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding-top: 5px;
}

.item-price {
    font-weight: 700;
}

/* === Total y Footer === */
.cart-divider {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.cart-total {
  text-align: right;
  font-weight: 600;
  padding: 0 1rem; 
}

.cart-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.checkout-btn {
  background-color: #2563eb; 
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem; 
  border: none;
  cursor: pointer;
}

/* === AJUSTE PARA EL BOTÓN DE CIERRE DENTRO DEL SIDEBAR === */
.close-cart-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.item-controls {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.item-controls input {
    width: 30px;
    text-align: center;
    border: none;
    outline: none;
}

.item-controls span {
    padding: 5px 8px;
    cursor: pointer;
    background-color: #f9f9f9;
}