<div class="cart-items-list">
    <div *ngFor="let item of items" class="cart-item">
        
        <div class="item-header-row">
            
            <div class="item-details-container">
                <div class="item-image-wrapper">
                    <img [src]="item.image" alt="{{ item.name }}" class="item-image">
                </div>

                <div class="item-info">
                    <span class="item-name">{{ item.name }}</span>
                </div>
            </div>
            
            <button class="remove-item-btn">&times;</button>
        </div>
        
        <div class="item-footer-row">
            <div class="item-controls">
                <span>-</span>
                <input type="number" [value]="item.quantity" min="1">
                <span>+</span>
            </div>
            <span class="item-price-total">${{ item.price | number }}</span>
        </div>
    </div>
</div>