.perfil-page {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
  transition: all 0.3s ease;
}

/* Ajuste para que el contenido no quede debajo del sidebar */
.perfil-content {
  flex: 1;
  margin-left: 240px; /* ancho normal del sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease;
}

/* Si sidebar es colapsable, puedes ajustar con media queries */
@media (max-width: 768px) {
  .perfil-content {
    margin-left: 0; /* ancho reducido */
  }
}

.perfil-section {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

/* Cuando el sidebar est치 colapsado */
.perfil-content.collapsed {
  margin-left: 70px; /* ancho reducido */
}

/* Cuando el sidebar est치 cerrado */
.sidebar-cerrado app-sidebar {
  width: 0;
  overflow: hidden;
}

.sidebar-cerrado .perfil-content {
  margin-left: 0;
}

.reserva-card {
  width: 20rem;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reserva-card:hover {
  background-color: #f5f5f5; /* color de fondo al pasar el mouse */
  transform: translateY(-5px); /* un peque침o "salto" opcional */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* sombra m치s marcada */
  transition: all 0.3s ease;
}
