.perfil-card {
  width: 20rem;
  margin: 20px auto;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.perfil-card-img {
  width: 120px;
  height: 120px;
  margin: 20px auto;
}

.card-img-top {
  object-fit: cover;
}
