.tarjeta-perfil {
  width: 20rem;
  border-radius: 15px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.tarjeta-perfil:hover {
  transform: scale(1.03);
}

.img-perfil {
  width: 140px;
  margin: 15px auto 5px;
  border-radius: 50%;
}
