/*.tarjeta-perfil {
  width: 20rem;
  border-radius: 15px;
  padding-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
}

.tarjeta-perfil:hover {
  transform: scale(1.03);
}

.img-perfil {
  width: 140px;
  margin: 15px auto 5px;
  border-radius: 50%;
}*/

/*
.perfil-card {
  width: 26rem; /* Más ancha 
  border-radius: 20px;
  box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.15);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.perfil-card:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
}

.perfil-foto {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #f1f1f1;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.perfil-foto:hover {
  transform: scale(1.05);
}

.icono-camara {
  background: white;
  padding: 6px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: 0.2s;
}

.icono-camara:hover {
  background: #f0f0f0;
}
*/

.perfil-card {
  width: 22rem; /* un poco más ancha */
  border-radius: 15px;
}

.icono-camara {
  background: white;
  padding: 6px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: 0.2s;
}

.icono-camara:hover {
  background: #e9e9e9;
}
