<div class="container text-center mt-5">
  <h2>Selecciona tus asientos</h2>
  <p class="text-muted">Haz clic en los asientos disponibles para reservarlos</p>

  <div class="sala">
    <div *ngFor="let fila of asientos" class="fila">
      <div
        *ngFor="let asiento of fila"
        class="asiento"
        [ngClass]="{
          'ocupado': asiento.ocupado,
          'seleccionado': asiento.seleccionado
        }"
        (click)="seleccionarAsiento(asiento)">
      </div>
    </div>
  </div>

 <div class="pantalla mb-3 mt-4">🎬 Pantalla</div>


<div class="botones mt-3">
  <button class="btn btn-warning" (click)="reservar()">Confirmar reserva</button>
  
  <button class="btn btn-primary" (click)="irAComprarSnacks()">🛒 Comprar Snacks</button>
</div>

<div class="mt-4">
  <button class="btn btn-secondary btn-sm" (click)="volverAtras()">⬅️ Volver</button>
</div>
</div>